# vscode temp files
.vscode
.idea

# build files
*.exe
*.bin
/Debug
/Release
bin/
settings.ini
ticks.ini
builder/
tactickgame.fas

# temp close
.github/
workflows/
build.yml/
*yml/

# Texture Packer resource files
Graphics/Draw/ASCII/TextureAtlases/Resources


# node js temp
node_modules/
package-lock.json