# vscode temp files
.vscode
.idea

# build files
*.exe
*.bin
/Debug
/Release
bin/

# temp close
#.github/
#workflows/
#build.yml/
#*yml/

# Texture Packer resource files
Graphics/Draw/ASCII/TextureAtlases/Resources
